/*--------------скидання дифолтних стилів+щсновні правила----------------*/

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.accent-color {
  color: #2e2f42;
}

/* ==================================MOBILE HEADER STYLES=============================== */

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-list {
  display: none;
}
.header-contacts {
  display: none;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-studio {
  color: #2e2f42;
  text-decoration: none;
}

/* =====================MOBILE MENU========================= */
.mobile-menu-wraper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms linear;
}

.mobile-menu-link {
  color: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-menu-link:focus {
  color: #404bbf;
}

.mobile-menu-wraper.is-open {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #2f2f37;
  line-height: 0;
}

.mobile-menu-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  line-height: 0;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}

.mobile-menu-item {
  padding-bottom: 40px;
}

.mobile-menu-item:last-child {
  padding-bottom: 0px;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-contacts-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-contacts-item {
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.mobile-contacts-container {
  margin-top: 168px;
  margin-bottom: 40px;
}

.mobile-menu-social-list {
  justify-content: space-between;
  max-width: 280px;
  display: flex;
  gap: 40px;
}

.mobile-menu-social-link {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-list {
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.71; /* 120% */
  letter-spacing: 0.02em;
}

.mobile-contacts-list:focus {
  color: #404bbf;
}

.mobile-social-icon:hover,
.mobile-social-icon:focus {
  background-color: #31d0aa;
}

/* ==============================MOBILE BACKDROP IS OPEN================================= */

.mobile-backdrop-is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.mobile-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  line-height: 0;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-modal-close-btn:hover,
.mobile-modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-feedback-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.mobile-feedback-form {
}

.mobile-feedback-form-field-wrapper {
  margin-bottom: 8px;
}

.mobile-feedback-form-field-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.mobile-feedback-form-input-wrapper {
  position: relative;
}

.mobile-feedback-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.mobile-feedback-form-input:focus {
  border-color: #4d5ae5;
}

.mobile-feedback-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-feedback-form-field-wrapper-area {
  margin-bottom: 16px;
}

.mobile-feedback-form-field-label {
}

.mobile-feedback-form-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-feedback-form-comment:focus {
  border-color: #4d5ae5;
}

.mobile-feedback-form-field-wrapper-container {
  margin-bottom: 24px;
}

.mobile-feedback-form-checkbox {
  display: none;
}

.mobile-feedback-form-checkbox-label {
  font-size: 12px;
  font-weight: 256;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.mobile-feedback-form-own-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 8px;
}

.mobile-feedback-form-input:focus + .mobile-feedback-form-input-icon {
  fill: #4d5ae5;
}

.mobile-feedback-form-own-checkbox-icon {
  fill: #2f2f37;
}

.mobile-feedback-form-checkbox:checked
  + .mobile-feedback-form-checkbox-label
  > .mobile-feedback-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.mobile-feedback-send {
  color: #4d5ae5;
}

.mobile-feedback-form-submit-btn {
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.mobile-feedback-form-submit-btn:hover,
.mobile-feedback-form-submit-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-feedback-form-input:focus + .feedback-form-input-icon {
  fill: #4d5ae5;
}

/* ==================================MOBILE HEADER STYLES=============================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

/* ==================================TABLET HEADER STYLES=============================== */

/* ==================================TABLET HEADER STYLES=============================== */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* ==================================DESKTOP HEADER STYLES=============================== */

/* ==================================DESKTOP HEADER STYLES=============================== */
