/*--------------скидання дифолтних стилів+щсновні правила----------------*/

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*------------------------------------------------- header ----------------------------------------------*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
  text-decoration: none;
}

.menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-list-one {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list-one::after {
  content: "";
  width: 48px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-menu-list-item .header-list:hover,
.header-list:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  column-gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/*------------------------------------------------------- section-one -----------------------------------------------*/
.section-one {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.section-one-title {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.section-one-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  display: block;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-button:hover,
.section-one-button:focus {
  background-color: #404bbf;
}

/*-------------------------------------- section-two ------------------------------------*/

.section-two {
  padding: 120px 0;
}

.section-two-title-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-menu-benefits {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-two-menu-item {
  width: calc((100% - 72px) / 4);
}

.svg-container {
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  fill: #2e2f42;
  padding: 24px 100px;
  margin-bottom: 8px;
  display: flex;
}

.sections-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sections-two-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------------------------------------------ section-three ----------------------------------------------*/

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-three-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-three-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-three-list-container {
  padding: 32px 0;
}

.section-three-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-three-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-three-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.menu-icons-social {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.item-menu-icon-social {
  width: 40px;
  height: 40px;
}

.link-item-menu-icon-social {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item-menu-icon-social:hover,
.link-item-menu-icon-social:focus {
  background-color: #404bbf;
}

.icon-section-three {
  fill: #f4f4fd;
}
/*------------------------------------------ section-four ----------------------------------------------*/

.section-four {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-four-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.overlay-par {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
}

.section-four-list {
  width: calc((100% - 48px) / 3);
  padding-bottom: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-list:hover .overlay-par {
  transform: translateY(0%);
}

.section-four-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-four-images {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-four-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-four-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-four-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-four-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay:hover {
  transform: translateY(0%);
}

/*------------------------------------------ footer --------------------------*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.span-item {
  color: #f4f4fd;
}

.footer-par {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

.container-footer {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
}

.container-logo-footer {
  margin-right: 120px;
}

.footer-social-par {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-subscribe-input {
  line-height: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu-icons-footer {
  gap: 16px;
  display: flex;
}

.item-menu-icon-footer {
  width: 40px;
  height: 40px;
}

.link-item-menu-icon-footer {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer-link {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4d5ae5;
  text-decoration: none;
}
.link-item-menu-icon-footer:hover,
.link-item-menu-icon-footer:focus {
  background-color: #31d0aa;
}

.icon-section-footer {
  fill: #f4f4fd;
}

.footer-container-subscribe {
  display: flex;
  margin-left: 80px;
  flex-direction: column;
}

.footer-subscribe-par {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-subscribe-input {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: none;
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.footer-button {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  border: none;
  background: #4d5ae5;
  height: 40px;
  color: #fff;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  border-radius: 4px;
}

.footer-button:focus,
.footer-button:hover {
  background-color: #404bbf;
}

.icon-subscribe-footer {
  font-family: "Roboto", sans-serif;
  fill: #ffffff;
  margin-left: 16px;
}

.backdrop-is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  line-height: 0;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.feedback-form-field-wrapper {
  margin-bottom: 8px;
}

.feedback-form-field-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.feedback-form-input-wrapper {
  position: relative;
}

.feedback-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.feedback-form-input:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.feedback-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  margin-bottom: 16px;
}

.feedback-form-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-comment:focus {
  border-color: #4d5ae5;
}

.feedback-form-own-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.feedback-form-input:focus + .feedback-form-input-icon {
  fill: #4d5ae5;
}

.feedback-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.feedback-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.feedback-form-submit-btn {
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-submit-btn:hover,
.feedback-form-submit-btn:focus {
  background-color: #404bbf;
  border: none;
}

.feedback-form-checkbox:checked
  + .feedback-form-checkbox-label
  > .feedback-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.feedback-send {
  color: #4d5ae5;
}

.feedback-form-checkbox {
  display: none;
}

.feedback-form-field-wrapper-container {
  margin-bottom: 24px;
}

.feedback-form-field-wrapper-area {
  margin-bottom: 16px;
}
